@media screen and (min-width: 980px) {
    
    [id*="hover-container-slider"] {
        /* background: blue; */
        margin-right: 1vh;
        margin-left: 1vh;
    }

    [id*="hover-container-genre"] {
        /* background: blue; */
        display: 'grid';
        margin-right: 1vh;
        margin-left: 1vh;
        grid-template-columns: '32% 32% 32%';
    }



    #movie-single-container {
        /* background-color: lightcoral; */
        /* max-width: 50%; */
    }
}
  
@media screen and (min-width: 635px) and (max-width: 979px) {

    [id*="hover-container-slider"] {
        /* background: green; */
        margin-right: 1vh;
        margin-left: 1vh;
    }

    [id*="hover-container-genre"] {
        /* background: blue; */
        display: 'grid';
        margin-right: 1vh;
        margin-left: 1vh;
        grid-template-columns: '50% 50%%';
    }

    #movie-single-container {
        /* background-color: lightblue; */
        /* max-width: 50%; */
    }
}

@media screen and (min-width: 0px) and (max-width: 634px) {

    [id*="hover-container-slider"] {
        /* background: red; */
        margin-right: 1vh;
        margin-left: 1vh;
    }

    [id*="hover-container-genre"] {
        /* background: blue; */
        display: 'flex';
        margin-right: 1vh;
        margin-left: 1vh;
    }

    #movie-single-container {
        /* background-color: green; */
        /* max-width: 50%; */
    }
}

#movie-single-container-root {
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* max-width: 50%; */
}